.dropdown-item:hover {
  background: var(--mainBlue) !important;
}

.nav-link:hover {
  color: var(--mainBlue) !important;
}

.btn {
  color: var(--mainBlue) !important;
}

.btn:hover {
  background: var(--mainBlue) !important;
  color: var(--mainDark) !important;
}

.container {
  padding: 1rem;
}

.lead {
  padding-top: 2rem;
}

:root {
  --mainDark: #343a40;
  --mainGray: #ccc;
  --mainWhite: #fff;
  --mainBlue: #599;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler {
  border: none;
}